@page "/C_pagosDetalle"
@inject PagosDetalleBLL PagosdBLL;

<EditForm Model="PagosdBLL">
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Ocupaciones</h3>
        </div>
        </div>

        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>ID</th>
                    <th>PagoID</th>
                    <th>PrestamoID</th>
                    <th>ValorPagado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in PagosdBLL.PagosDetalleList())
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.PagoId</td>
                        <td>@item.PagoId</td>
                        <td>@item.prestamosid</td>
                        <td>@item.valorPagado</td>
                    </tr>
                }
                
            </tbody>
        </table>
</EditForm>




